
Examples/EasyFirebaseExample/EasyFirebaseExample.xcodeproj/project.xcworkspace/xcuserdata/benmyers.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Examples/EasyFirebaseExample_iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Examples/EasyFirebaseExample/EasyFirebaseExample.xcodeproj/project.xcworkspace/xcuserdata/benmyers.xcuserdatad/UserInterfaceState.xcuserstate
Examples/EasyFirebaseExample/.DS_Store
Examples/.DS_Store
*.xcuserstate
